@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'swiper/css';
@import 'swiper/css/pagination';
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 215 33% 26%;

    --muted: var(--background);
    --muted-foreground: 215 33% 26%;

    --primary: 205 100% 32%;
    --primary-foreground: var(--foreground);

    --secondary: 205 100% 44%;
    --secondary-foreground: var(--foreground);

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --border: var(--primary);
  }
}
::-webkit-scrollbar {
  width: 7px;
  height: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(21, 129, 201);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  @apply bg-primary;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-foreground/70;
}

@layer base {
  * {
    @apply border-border ring-border;
  }
  html {
    --scroll-behavior: smooth !important;
    scroll-behavior: smooth !important;
  }
  body {
    @apply overflow-x-hidden bg-background text-foreground;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
}

@keyframes rocket {
  0%,
  100% {
    transform: translate(4px, -35px);
  }
  50% {
    transform: translate(0, 0);
  }
}

.swiper-pagination-bullets {
  @apply space-x-4;
}

.swiper-pagination-bullet {
  @apply w-2.5 h-2.5 mx-2 bg-white border border-black opacity-100;
}

.swiper-pagination-bullet-active {
  @apply bg-black ring-1 ring-black ring-offset-4;
}
